#navbar {  
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 5rem;
}

img {
    width: 8rem;
}

#headerlist {
    max-width: 1140px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

a {
    padding: 1rem;
    width: auto;
    color: white;
    text-decoration: none;
}

/* .wrapper {
    max-width: 1140px;
    margin: 0 auto;
} */


