#navbar {  
    background-color: black;
    height: 5rem;
}

#navbar .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 20px;
}

#navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

img {
    width: 8rem;
}

#navbar nav a {
    padding: 0.4rem;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

#navbar p {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

#navbar nav a:hover {
    color: #1ed760;
}
  

/* .wrapper {
    max-width: 1140px;
    margin: 0 auto;
} */

 

  
 
  
 